################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarketSizeService/v15
/.vs/slnx.sqlite
/.vs
